.header {
  list-style-type: none;
  overflow: hidden;
  font-family: arial,sans-serif;
  font-size: 13px;
}

.headerli {
  display: block;
  text-align: center;
  padding: 5px 5px;
  text-decoration: none;
  list-style-type: none;  
  margin: 5px;
}

.headerli a:hover {
  text-decoration: underline;
}

li {
  list-style-type: none;
  float: left;
}
.resim1 {
  border-radius: 10px;
  margin-bottom: 20px;
}

.arkadolgu {
  background-color: white;
  opacity: 100%;
  border-radius: 60%; 
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  outline: none;
  box-sizing: border-box;

}

.arkadolgu a:hover {
  background-color: rgb(151, 145, 145);
  opacity: 60%;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  outline: none;
  text-align: center;
  padding: 2.5px 0 2.5px 2.5px;

}
.navici {
  float:  right;
  margin: 0px;
}
.aici {
  color: black;
  text-decoration: none;
  font-size: smaller;
  
}

.container {
  text-align: center;
  margin: 100px;
}

.search-area {
  background: #fff;
  display: flex;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  z-index: 3;
  height: 44px;
  margin: 0 auto;
  margin-top: -77px;
  width: 582px;
  border-radius: 20px;

}

.search-area:hover {
box-shadow: 0 2px 3px 0 rgba(0,0,0,0.24), 0 2px 5px 0 rgba(0,0,0,0.19);
border-radius: 20px;

}

.search {
  flex: 1;
  display: flex;
  padding: 5px 8px 0 16px;
  padding-left: 14px;

}

.search-img {
  display: flex;
  align-items: center;
  padding-right: 13px;
  margin-top: -5px;
}
.müzik {
  display: flex;
  align-items: center;
  padding-right: 13px;
  margin-top: -5px;
}

.search-img span {
  color: #9aa0a6;
  height: 20px;
  width: 20px;
  margin-top: 0px;
  display: inline-block;
  fill: currentColor;
  line-height: 24px;
  position: relative;
}

.input-enter {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
}

.input-area {
  color: transparent;
  flex: 100%;
  white-space: pre;
  font: 16px arial, sans-serif;
  line-height: 34px;
  height: 34px !important;
  display: block;
  border-radius: var(--ntp-realbox-border-radius)
}

.input {
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.87);
  word-wrap: break-word;
  outline: none;
  display: flex;
  flex: 100%;
  margin-top: -68px;
  font: 16px arial, sans-serif;
  line-height: 34px;
  height: 34px !important;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-align: start;
  appearance: textfield;
  cursor: text;
  width: 480px;
  border: 0px;
}

.buttons {
 text-align: center;


}
.googlesearch {
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
  border:#f2f2f2;
  border: 1px;
  font-size: 14px;
  font-family: arial;
  box-shadow: 0 2px 3px 0 rgba(0,0,0,0.24), 0 2px 5px 0 rgba(0,0,0,0.19);
  height: 36px;

  
}

.feelinglucky {
  padding: 0 16px;
  line-height: 27px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
  border:#f2f2f2;
border-width: 1px;
font-size: 14px;
font-family: arial;
box-shadow: 0 2px 3px 0 rgba(0,0,0,0.24), 0 2px 5px 0 rgba(0,0,0,0.19);
height: 36px;
}

.footer {
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #dfe1e5;
  border-top: 1px solid #dadce0;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-left: -8px;
  line-height: 10px;
  background-color: #f2f2f2;
}

.footerli {
  float: left;
}

.footerli a {
  display: block;
  color: #70757a;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: arial, sans-serif;
  font-size: 14px;
  margin-left: 14px;
  margin-right: -20px;
}

.footerli a:hover {
  text-decoration: underline;
}